VITE_APP_NAME=Wallabot
VITE_API_BASE_URL=
VITE_API_AUTH_URL=http://localhost:8001
VITE_API_INVENTORY_URL=http://localhost:8002
VITE_API_TRANSACTION_URL=http://localhost:8003
VITE_API_WALLABOT_URL=http://localhost:8004
VITE_API_TIMEOUT_MS=10000
VITE_AUTH_TOKEN_STORAGE_KEY=wallabot_auth_token
VITE_WALLABOT_PRICE_ENABLED=true
