# Copy this file to .env and fill in real values.
# Do not commit real credentials.

#SUPABASE_URL=https://your-project-ref.supabase.co
#SUPABASE_ANON_KEY=upabase_anon_key
#SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key

#DATABASE_URL=postgresql://postgres:encoded_password@db.your-project-ref.supabase.co:5432/postgres

# CREDS NOT REQUIRED UNTIL WE IMPLEMENT SUPABASE